@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWebAdmin.cshtml";
}
<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Hizmetlerimiz Bilgileri
                </header>
                <div class="panel-body">
                    <section id="unseen">
                        <div class="adv-table">
                            <a class="btn btn-primary" href="/AdminIletisimBilgileriEkle/"><i class="fa fa-plus" style="padding-right:5px"></i>Ekle</a>
                            <br />
                            <table class="table table-bordered table-striped table-condensed" id="TblVeriler" style="font-size:13px;margin-top:5px">
                                <thead>
                                    <tr>
                                        <th>Firma</th>
                                        <th>Adres</th>
                                        <th>Tel-1</th>
                                        <th>Tel-2</th>
                                        <th>Tel-3</th>
                                        <th>Tel-4</th>
                                        <th>Email-1</th>
                                        <th>Email-2</th>
                                        <th>Faks</th>
                         
                                        <th>WhatsApp</th>
                
                                        <th>Facebook</th>
                                        <th>Instagram</th>
              
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var iletisim in ViewBag.IletisimBilgileriList)
                                    {
                                        <tr>
                                            <td>@iletisim.Adi</td>
                                            <td>@iletisim.Adres</td>
                                            <td>@iletisim.Telefon1</td>
                                            <td>@iletisim.Telefon2</td>
                                            <td>@iletisim.Telefon3</td>
                                            <td>@iletisim.Telefon4</td>
                                            <td>@iletisim.Email1</td>
                                            <td>@iletisim.Email2</td>
                                            <td>@iletisim.Faks</td>
                           
                                            <td>@iletisim.WhatsApp</td>
                 
                                            <td>@iletisim.Facebook</td>
                                            <td>@iletisim.Instagram</td>
                             
                                            <td>

                                                <a class="btn btn-primary btn-xs" href="/AdminIletisimBilgileri/Guncelleme/@iletisim.Id"><i class="icon-pencil"></i></a>
                                                <a class="btn btn-danger btn-xs" href="/AdminIletisimBilgileri/Sil/@iletisim.Id"><i class="icon-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</section>


